body {
    background-color: powderblue;
    margin: 20px;
}
h1 {
    color: blue;
}
p {
    color: red;
}
header {
    font-size: 32px;
}
footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}